.u-section-1 {
  background-image: url("../images/Mappa_di_Tisifea.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  min-height: 303px;
  width: 584px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  /* width: 142px; */
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 480px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}