<!DOCTYPE html>
<html style="font-size: 16px;" lang="it">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Scheda PG">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <meta content="Tisifea" property="og:title" />
  <meta content="Sito WEB per la creazione Schede PG e Missioni da usare con il BOT Il Maggiordomo"
    property="og:description" />
  <meta content="https://tisifea.duckdns.org/" property="og:url" />
  <meta content="https://tisifea.duckdns.org/images/stemma_gilda_f.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <title>Contact</title>
  <link rel="icon" type="image/jpg" href="../images/Logo_bot.jpg">
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Contact.css" media="screen">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" src="../js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">
  {
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "/",
		"logo": "../images/stemma_gilda_f.png"
  }
</script>
  <meta property="og:title" content="Profilo">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="index.hbs">
</head>

<body class="u-body">
  {{> header }}

  <section class="u-align-center u-clearfix u-image u-section-1" id="sec-05f2" data-image-width="2000"
    data-image-height="1333">
    <form action="/contact/send" method="POST">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h1 class="u-align-center u-text u-text-1">Contatti</h1>
            <h3 class="u-align-center-lg u-text u-text-2">Nome</h3>
            <input id="name" class="u-text u-text-3" type="text" name="name" placeholder="Inserire Nome">
            <h3 class="u-align-center-lg u-text u-text-2">Mail</h3>
            <input id="email" class="u-text u-text-3" type="text" name="mail" placeholder="Inserire Mail">
            <h3 class="u-align-center-lg u-text u-text-2">Messaggio</h3>
            <textarea id="messaggio" class="u-text u-text-3" type="text" name="messaggio"
              style="height: 400px;"></textarea>
            <button id='submit' class="custom_button_cre" submit="submit">Invia <i class="fa fa-location-arrow" aria-hidden="true"></i></button>
            <a id="Return" href="/" class="custom_button u-align-center">Torna Indietro </a>
          </div>
        </div>
      </div>
    </form>
  </section>

  {{> footer }}

  <script src="/js/controll_empty.js"></script>
  <script class="u-script" type="text/javascript">
    function avatar_Previwe() {
      var imge_box = document.getElementById('img_temp');
      var url_link = document.getElementById('avatar_pg');
      if (url_link.value != "") {
        checkIfImageExists(url_link.value, (exists) => {
          if (exists) {
            imge_box.setAttribute("src", url_link.value);
          } else {
            imge_box.setAttribute("src", "/images/stemma_gilda_f.png");
          }
        });
      } else {
        imge_box.setAttribute("src", "/images/stemma_gilda_f.png");
      }
    }

    function checkIfImageExists(url, callback) {
      const img = new Image();
      img.src = url;

      if (img.complete) {
        callback(true);
      } else {
        img.onload = () => {
          callback(true);
        };

        img.onerror = () => {
          callback(false);
        };
      }
    }
  </script>
</body>

</html>