<header class="u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-white u-header" id="sec-8d3a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="2000" data-image-height="1333">
            <img src="/images/stemma_gilda_f.png" class="u-logo-image u-logo-image-1" data-image-width="64">
        </a>
        <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                    href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/" style="padding: 10px 0px;">Home</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/blogpost" style="padding: 10px 0px;">BlogPost</a>
                    </li>
                    {{#if loged}}
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/characters" style="padding: 10px 0px;">Personaggi</a>
                    </li>
                    {{#if master}}
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/missions" style="padding: 10px 0px;">Missioni</a>
                    </li>
                    {{/if}}
                    <li class="u-nav-item">
                        <form method="POST" action="/logout">
                            <button
                                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                                type="submit" style="padding: 10px 0px;">Logout</button>
                        </form>
                    </li>
                    {{else}}
                    <li class="u-nav-item">
                        <form method="GET" action="/auth/login">
                            <button
                                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                                type="submit" style="padding: 10px 0px;">Login</button>
                        </form>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/"
                                    style="padding: 10px 0px;">Home</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/blogpost"
                                    style="padding: 10px 0px;">BlogPost</a>
                            </li>
                            {{#if loged}}
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/characters"
                                    style="padding: 10px 0px;">Personaggi</a>
                            </li>
                            {{#if master}}
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/missions"
                                    style="padding: 10px 0px;">Missioni</a>
                            </li>
                            {{/if}}
                            <li class="u-nav-item">
                                <form class="u-button-style u-nav-link" style="padding: 10px 0px;" method="POST"
                                    action="/logout">
                                    <button class="custom_logout" type="submit">Logout</button>
                                </form>
                            </li>
                            {{else}}
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                                    style="padding: 10px 0px;">Login</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
    <script type="application/javascript">
        var controllerPath = /(\/[\w]+)\/.+/.exec(window.location.pathname);
        if (controllerPath)
            document.querySelectorAll('[href="' + controllerPath[1] + '"]')[0].classList.add("active")
    </script>
</header>