<!DOCTYPE html>
<html lang="it">

<head>
    <title>Piccolo Grande Mondo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
</head>

<body>


    <div class="container-contact100">
        <div class="wrap-contact150">
           <!--
            <div style="margin-bottom: 10px">
                <table style="border-spacing: 10px">
                    <tr>
                        <td>
                            <p style="font-size: 20px">Seleziona scheda</p>
                        </td>
                        <td>
                            <select style="margin-left: 10px; align-content: center; height: 25px">
                                <option>scheda 1</option>
                                <option>scheda 2</option>
                            </select>
                        </td>
                        <td>
                            <div style="float: right; margin: auto;width: 100px; max-height: 50px" class="wrap-contact100-form-btn">
                                <div class="contact100-form-bgbtn"></div>
                                <button class="contact100-form-btn">
                                    <span>
                                        Carica
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            -->
            <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Edit PG
                </span>

                <div>
                    <h5>Nome PG</h5>
                    <div>
                        <p>Nome</p>
                    </div>
                </div>


                <div>
                    <h5>Razza</h5>
                    <div>
                        <p>razza</p>
                    </div>
                </div>

                <div>
                    <h5>Classe</h5>
                    <div>
                        <p>classe</p>
                    </div>
                </div>

                <div>
                    <h5>Background</h5>
                    <div>
                        <p>Background</p>
                    </div>
                </div><br>


                <div class="wrap-input100 validate-input" data-validate="monete">
                    <h5 style="margin-bottom: 10px">Monete</h5>
                            <p style="width: 50px;float: left;color: black"><b>Oro:</b></p>
                            <input class="label-input150" name="oro" value="0">mo
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <h5 style="margin-bottom: 10px">Inventario</h5>
                    <ul>
                        <li>
                            <p style="width: 110px;float: left;color: black">Nome oggetto:</p>
                            <input style="float: left" class="label-input120">
                            <p style="width: 60px;float: left;color: black">Qnatità:</p>
                            <input style="float: left; width: 50px" class="label-input120">
                            <p style="width: 60px;color: black">Note:</p>
                            <textarea style="min-height: 60px" class="input100" name="message" placeholder="Informazione sull' oggetto."></textarea>
                            <div class="container-contact120-form-btn">
                                <div style="width: 50px; max-height: 50px" class="wrap-contact100-form-btn">
                                    <div class="contact120-form-bgbtn"></div>
                                    <button class="contact120-form-btn">
                                        <span>
                                            <i class="material-icons" aria-hidden="true">delete_sweep</i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <p>----------------------------------------------------------------------------------------------------</p>
                        </li>
                    </ul>
                    <div class="container-contact100-form-btn">
                        <div style="width: 120px" class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            <button class="contact100-form-btn">
                                <span>
                                    <b style="font-size: 50px">+</b>
                                </span>
                            </button>
                        </div>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
                            <span>
                                Salva Modifiche
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');
    </script>

</body>
</html>
