<!DOCTYPE html>
<html style="font-size: 16px;" lang="it">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Bemvemuto in Tisifera​">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <meta content="Tisifea" property="og:title" />
  <meta content="Sito WEB per la creazione Schede PG e Missioni da usare con il BOT Il Maggiordomo" property="og:description" />
  <meta content="https://tisifea.duckdns.org/" property="og:url" />
  <meta content="https://tisifea.duckdns.org/images/stemma_gilda_f.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <title>Tisifea</title>
  <link rel="icon" type="image/jpg" href="images/Logo_bot.jpg">
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/index.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">
    {
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "name": "",
		  "url": "/",
		  "logo": "images/stemma_gilda_f.png"
    }
  </script>
  <meta property="og:title" content="Tisifea">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="index.hbs">
</head>

<body class="u-body">
  {{> header }}

  <section class="u-clearfix u-image u-section-1" id="sec-7f99" data-image-width="400" data-image-height="465">
    <div class="container-repeat">
      <img src="images/stemma_gilda_f.png" class="icon-repeat u-image">
    </div>
    </div>
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center-xs u-container-style u-group u-radius-25 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-1">Benvenuto
            in Tisifera<span style="font-weight: 700;"></span>
          </h1>
          <form method="POST">
            <a href={{#if loged}}"/characters"{{else}}"/auth/login"{{/if}}
              class="u-black u-border-2 u-border-black u-border-hover-black u-btn u-btn-round u-button-style u-hover-white u-radius-50 u-btn-1">Entra
              in questo mondo di fantasie
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></a>
          </form>
        </div>
      </div>
    </div>
  </section>

  {{> footer }}
  <script class="u-script" type="text/javascript" src="js/animation_fun.js" defer=""></script>
</body>

</html>