<!DOCTYPE html>
<html style="font-size: 16px;" lang="it">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Scheda PG">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Profilo</title>
  <link rel="icon" type="image/jpg" href="../images/Logo_bot.jpg">
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Profilo.css" media="screen">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" src="../js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">
  {
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "/",
		"logo": "../images/stemma_gilda_f.png"
  }
</script>
  <meta property="og:title" content="Profilo">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="index.hbs">
</head>

<body class="u-body">
  <header class="u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-white u-header" id="sec-8d3a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1" data-image-width="2000" data-image-height="1333">
        <img src="../images/stemma_gilda_f.png" class="u-logo-image u-logo-image-1" data-image-width="64">
      </a>
      <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/" style="padding: 10px 0px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="BlogPost.html" style="padding: 10px 0px;">BlogPost</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90 active"
                href="/login" style="padding: 10px 0px;">Dashboard</a>
            </li>
            {{#if master}}
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/dashboard-mission" style="padding: 10px 0px;">Missions</a>
            </li>
            {{/if}}
            <li class="u-nav-item">
              <form method="POST" action="/logout">
                <button
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  type="submit" style="padding: 10px 0px;">Logout</button>
              </form>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="BlogPost.html"
                    style="padding: 10px 0px;">BlogPost</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                    style="padding: 10px 0px;">Dashboard</a>
                </li>
                {{#if master}}
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-mission"
                    style="padding: 10px 0px;">Missions</a>
                </li>
                {{/if}}
                <li class="u-nav-item">
                  <form class="u-button-style u-nav-link" style="padding: 10px 0px;" method="POST" action="/logout">
                    <button class="custom_logout" type="submit">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>

  <section class="u-align-center u-clearfix u-image u-section-1" id="sec-05f2" data-image-width="2000"
    data-image-height="1333">
    <form action="/insert/insert" method="POST">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h1 class="u-align-center u-text u-text-1">Scheda PG</h1>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
              <div class="u-layout">
                <div class="u-layout-col">
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-xl u-container-layout-2">
                          <h3 class="u-align-center-lg u-text u-text-2">Nome</h3>
                          <input id="nome_pg" class="u-text u-text-3" type="text" name="name"
                            placeholder="Inserire Nome PG">
                          <div
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-1 border_custom"
                            alt="" data-image-width="400" data-image-height="265"></div>
                        </div>
                      </div>
                      <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle-xl u-container-layout-3">
                          <h3 class="u-text u-text-4">Razza</h3>
                          <select id="razza_pg" class="u-text u-text-3" name="razza" onchange="ceck_empy()"
                            required="required">
                            <option>Scegli Razza</option>
                            <option>Umani</option>
                            <option>Elfi</option>
                            <option>Mezz'Elfi</option>
                            <option>Nani</option>
                            <option>Halfling</option>
                            <option>Dragonidi</option>
                            <option>Orchi</option>
                            <option>Mezz'Orchi</option>
                            <option>Gnomi</option>
                            <option>Tiefling</option>
                            <option>Goliath</option>
                            <option>Arakocra</option>
                            <option>Genasi</option>
                            <option>Aasimar</option>
                            <option>Felis</option>
                            <option>Goblin</option>
                            <option>Hobgoblin</option>
                            <option>Coboldi</option>
                            <option>Leonin</option>
                            <option>Tabaxi</option>
                            <option>Centauro</option>
                            <option>Bugbear</option>
                            <option>Firbolg</option>
                            <option>Loxodon</option>
                            <option>Minotauro</option>
                            <option>Kalashtar</option>
                            <option>Shifter</option>
                            <option>Satiro</option>
                            <option>Forgiato</option>
                            <option>Coboldo</option>
                            <option>Hexblood</option>
                            <option>Dhamphir</option>
                            <option>Haregon</option>
                            <option>Fata</option>
                            <option>Vedalken</option>
                            <option>Liezardfolk</option>
                            <option>Tritone</option>
                            <option>Kenku</option>
                            <option>Satiro</option>
                            <option>Yuan-Ti Purosangue</option>
                            <option>Cangiante</option>
                            <option>Gith</option>
                            <option>Experimental Hybrid</option>
                            <option>Reborn</option>>
                            <option>Altro</option>
                          </select>
                          {{!-- <input id="nome_pg" class="u-text u-text-3" style="margin-top: 10px;" type="text"
                            name="name" placeholder="Nome razza"> --}}
                          <div
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-2"
                            alt="" data-image-width="400" data-image-height="265"></div>
                        </div>
                      </div>
                      <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                        <div class="u-container-layout u-valign-middle-xl u-container-layout-4">
                          <h3 class="u-align-center u-text u-text-6">Livello</h3>
                          <p class="u-align-center u-text u-text-7">3</p>
                          <div
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-3"
                            alt="" data-image-width="400" data-image-height="265"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                        <div
                          class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-top-xl u-container-layout-5">
                          <div id="img_class"
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-4"
                            style="background-image: url('/images/Altro.png');" alt="" data-image-width="400"
                            data-image-height="265"></div>
                          <h3
                            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-8">
                            Classe</h3>
                          <select id="classe_pg" class="u-text u-text-3" name="classe" onchange="ceck_empy()">
                            <option>Scegli Classe</option>
                            <option>Barbaro</option>
                            <option>Bardo</option>
                            <option>Chierico</option>
                            <option>Druido</option>
                            <option>Guerriero</option>
                            <option>Ladro</option>
                            <option>Mago</option>
                            <option>Monaco</option>
                            <option>Paladino</option>
                            <option>Ranger</option>
                            <option>Stregone</option>
                            <option>Warlock</option>
                            <option>Artefice</option>
                            <option>Altro</option>
                          </select>
                        </div>
                      </div>
                      <div
                        class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                        <div
                          class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-6">
                          <div id="img_class_2"
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-5"
                            style="background-image: url('/images/Altro.png');" alt="" data-image-width="400"
                            data-image-height="265"></div>
                          <h3 class="u-align-center-lg u-align-center-xl u-text u-text-10">Sotto Classe</h3>
                          <select id="sot_classe_pg" class="u-text u-text-13" name="sot_classe" onchange="ceck_empy()">
                            <option>Scegli Sotto Classe</option>
                            <option>Barbaro</option>
                            <option>Bardo</option>
                            <option>Chierico</option>
                            <option>Druido</option>
                            <option>Guerriero</option>
                            <option>Ladro</option>
                            <option>Mago</option>
                            <option>Monaco</option>
                            <option>Paladino</option>
                            <option>Ranger</option>
                            <option>Stregone</option>
                            <option>Warlock</option>
                            <option>Artefice</option>
                            <option>Altro</option>
                          </select>
                        </div>
                      </div>
                      <div
                        class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-6">
                        <div
                          class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-7">
                          <div
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-6"
                            alt="" data-image-width="400" data-image-height="265"></div>
                          <h3 class="u-align-center-lg u-align-center-xl u-text u-text-12">Background</h3>
                          <select id="background_pg" class="u-text u-text-13" name="background" onchange="ceck_empy()">
                            <option>Scegli Background</option>
                            <option>Accolito</option>
                            <option>Ciarlatano</option>
                            <option>Criminale</option>
                            <option>Intrattenitore</option>
                            <option>Eroe del Popolo</option>
                            <option>Gladiatore</option>
                            <option>Eremita</option>
                            <option>Cavaliere</option>
                            <option>Nobile</option>
                            <option>Forestiero</option>
                            <option>Pirata</option>
                            <option>Saggio</option>
                            <option>Marinaio</option>
                            <option>Soldato</option>
                            <option>Modello</option>
                            <option>Artigiano di Gilda</option>
                            <option>Mercante di Gilda</option>
                            <option>Altro</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                        <div
                          class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-top-xl u-container-layout-5">
                          <div id="img_class_multi"
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-4"
                            style="background-image: url('/images/Altro.png');" alt="" data-image-width="400"
                            data-image-height="265"></div>
                          <h3
                            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-8">
                            Multi Classe</h3>
                          <select id="classe_multi" class="u-text u-text-3" name="classe_multi" onchange="ceck_empy()">
                            <option>Scegli Multi Classe</option>
                            <option>Barbaro</option>
                            <option>Bardo</option>
                            <option>Chierico</option>
                            <option>Druido</option>
                            <option>Guerriero</option>
                            <option>Ladro</option>
                            <option>Mago</option>
                            <option>Monaco</option>
                            <option>Paladino</option>
                            <option>Ranger</option>
                            <option>Stregone</option>
                            <option>Warlock</option>
                            <option>Artefice</option>
                            <option>Altro</option>
                          </select>
                        </div>
                      </div>
                      <div
                        class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                        <div
                          class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-6">
                          <div id="img_class_multi_2"
                            class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-5"
                            style="background-image: url('/images/Altro.png');" alt="" data-image-width="400"
                            data-image-height="265"></div>
                          <h4 class="u-align-center-lg u-align-center-xl u-text u-text-10">Sotto Multi Classe</h4>
                          <select id="sot_classe_multi" class="u-text u-text-13" name="sot_classe_multi"
                            onchange="ceck_empy()">
                            <option>Scegli Sotto Multi Classe</option>
                            <option>Barbaro</option>
                            <option>Bardo</option>
                            <option>Chierico</option>
                            <option>Druido</option>
                            <option>Guerriero</option>
                            <option>Ladro</option>
                            <option>Mago</option>
                            <option>Monaco</option>
                            <option>Paladino</option>
                            <option>Ranger</option>
                            <option>Stregone</option>
                            <option>Warlock</option>
                            <option>Artefice</option>
                            <option>Altro</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-2">
              <div class="u-layout">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-7">
                    <div class="u-container-layout u-valign-top u-container-layout-8">
                      <h2 class="u-align-center u-text u-text-14">Statistiche</h2>
                      <div class="u-align-center-xl u-container-style u-expanded-width u-group u-group-2">
                        <div
                          class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-9">
                          <h4 class="u-align-right u-text u-text-15">Forza:&nbsp;</h4>
                          <div
                            class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-7"
                            alt="" data-image-width="400" data-image-height="265"></div>
                          <input id="forza_pg" class="u-align-left u-text u-text-18" style="width: 100px;" type='number'
                            name="forza" value="0">
                        </div>
                      </div>
                      <div
                        class="u-align-center-lg u-align-center-xl u-container-style u-expanded-width u-group u-group-3">
                        <div
                          class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-10">
                          <h4 class="u-align-right u-text u-text-17">Destrezza:&nbsp;</h4>
                          <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-8" alt=""
                            data-image-width="400" data-image-height="265"></div>
                          <input id="destrezza_pg" class="u-align-left u-text u-text-20" style="width: 100px;"
                            type='number' name="destrezza" value="0">
                        </div>
                      </div>
                      <div
                        class="u-align-left-sm u-align-left-xs u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-4">
                        <div class="u-container-layout u-valign-middle u-container-layout-11">
                          <h4 class="u-align-right u-text u-text-19">Costituzione:&nbsp;<br>
                          </h4>
                          <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-9" alt=""
                            data-image-width="400" data-image-height="265"></div>
                          <input id="costituzione_pg" class="u-align-left u-text u-text-20" style="width: 100px;"
                            type='number' name="costituzione" value="0">
                        </div>
                      </div>
                      <div class="u-container-style u-expanded-width u-group u-group-5">
                        <div
                          class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-12">
                          <h4 class="u-align-right u-text u-text-21">Intelligenza:&nbsp;</h4>
                          <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-10" alt=""
                            data-image-width="400" data-image-height="265"></div>
                          <input id="intelligenza_pg" class="u-align-left u-text u-text-20" style="width: 100px;"
                            type='number' name="intelligenza" value="0">
                        </div>
                      </div>
                      <div class="u-align-center-xl u-container-style u-expanded-width u-group u-group-6">
                        <div class="u-container-layout u-valign-middle u-container-layout-13">
                          <h4 class="u-align-right u-text u-text-23">Saggezza:&nbsp;</h4>
                          <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-11" alt=""
                            data-image-width="400" data-image-height="265"></div>
                          <input id="saggezza_pg" class="u-align-left u-text u-text-20" style="width: 100px;"
                            type='number' name="saggezza" value="0">
                        </div>
                      </div>
                      <div class="u-container-style u-expanded-width u-group u-group-7">
                        <div class="u-container-layout u-valign-middle u-container-layout-14">
                          <h4 class="u-align-right u-text u-text-25">Carisma:&nbsp;</h4>
                          <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-12" alt=""
                            data-image-width="400" data-image-height="265"></div>
                          <input id="carisma_pg" class="u-align-left u-text u-text-20" style="width: 100px;"
                            type='number' name="carisma" value="0">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-8">
                    <div class="u-container-layout u-valign-top u-container-layout-15">
                      <img
                        class="u-align-center u-border-2 u-border-grey-75 u-expanded-width u-image u-image-round u-radius-30 u-image-13"
                        src="/images/stemma_gilda_f.png" alt="" data-image-width="2000" data-image-height="1333">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-expanded-width-xl u-group u-group-8">
              <div class="u-container-layout u-container-layout-16">
                <h2 class="u-align-left u-text u-text-27">Avatar URL</h2>
                <input id="avatar_pg" class="u-align-left u-text" style="width:100%;" type="text" name="url_avatar"
                  placeholder="Inserire URL della Immagine Avatar">
              </div>
            </div>
            <div class="u-container-style u-expanded-width u-group u-group-9 ">
              <div class="u-container-layout u-container-layout-17 ">
                <h2 class="u-text u-text-29" style="margin: auto;">Descrizione</h2>
                <textarea id="descrizone" style="min-height: 100px; width:100%; height: 90%;" rows='4' data-min-rows='4'
                  maxlength="2048" class="autoExpand" type="text" name="descrizone"
                  placeholder="Decrizione personaggio"></textarea>
              </div>
            </div>

            <a id="container_descrizone" href="/login" class="custom_button u-align-center">Torna Indietro </a>
          </div>
        </div>
      </div>
    </form>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fbf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Copyright 2020-2021 Alexkill536ITA - All Rights Reserved to
        Bjarka Energy®.</p>
    </div>
  </footer>

  <script src="/js/controll_empty.js"></script>
</body>

</html>