<!DOCTYPE html>
<html lang="it">

<head>
    <title>Piccolo Grande Mondo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">   
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">    
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">   
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">    
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

    <div class="container-contact100">
        <div class="wrap-contact150">
            <form class="contact100-form validate-form" action="" method="POST">
                <span class="contact100-form-title">
                    Creazione PG
                </span>

                <div class="wrap-input100 validate-input" data-validate="Nome PG">
                    <span class="label-input100">Nome PG</span>
                    <input style="border: none" class="input100" type="text" name="name" placeholder="Inserire Nome PG">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Razza</span>
                    <div>
                        <select class="selection-2" name="razza">
                            <option>Scegli Razza</option>
                            <option>Elfo</option>
                            <option>Halfling</option>
                            <option>Nano</option>
                            <option>Umano</option>
                            <option>Dragonide</option>
                            <option>Gnomo</option>
                            <option>Mezzelfo</option>
                            <option>Mezzorco</option>
                            <option>Tiefling</option>
                            <option>Altro</option>
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Classi</span>
                    <div>
                        <select class="selection-2" name="classe">
                            <option>Scegli Classe</option>
                            <option>Barbaro</option>
                            <option>Bardo</option>
                            <option>Chierico</option>
                            <option>Druido</option>
                            <option>Guerriero</option>
                            <option>Ladro</option>
                            <option>Mago</option>
                            <option>Monaco</option>
                            <option>Paladino</option>
                            <option>Ranger</option>
                            <option>Stregone</option>
                            <option>Warlock</option>
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Background</span>
                    <div>
                        <select class="selection-2" name="background">
                            <option>Scegli Background</option>
                            <option>Accolito</option>
                            <option>Ciarlatano</option>
                            <option>Criminale</option>
                            <option>Intrattenitore</option>
                            <option>Eroe del Popolo</option>
                            <option>Gladiatore</option>
                            <option>Eremita</option>
                            <option>Cavaliere</option>
                            <option>Nobile</option>
                            <option>Forestiero</option>
                            <option>Pirata</option>
                            <option>Saggio</option>
                            <option>Marinaio</option>
                            <option>Soldato</option>
                            <option>Monello</option>
                            <option>Artigiano di Gilda</option>
                            <option>Mercante di Gilda</option>
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="monete">
                    <span class="label-input100">Monete</span>
                    <div>
                        <p style="width: 50px;float: left;color: black"><b>Oro:</b></p>
                        <input class="label-input150" name="oro" value="0">mo
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <span class="label-input100">Inventario</span>
                    <ul id="Inventori_list">
                        
                    </ul>
                    <div class="container-contact100-form-btn">
                        <div style="width: 120px" class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            {{!-- <form method="POST" action="/insert/add"> --}}
                                <button class="contact100-form-btn" type="button" id="add_object">
                                    <span>
                                        <b style="font-size: 50px">+</b>
                                    </span>
                                </button>
                            {{!-- </form> --}}
                        </div>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn" submit="submit">
                            <span>
                                Crea
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true" ></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>   
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <script src="/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');
    </script>
    <script src="/models/Oggetto_inventario.js"></script>
</body>
</html>
