<!DOCTYPE html>
<html style="font-size: 16px;" lang="it">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Login!">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Login</title>
  <link rel="icon" type="image/jpg" href="images/Logo_bot.jpg">
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Login.css" media="screen">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">
    {
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "name": "",
		  "url": "/",
		  "logo": "/images/stemma_gilda_f.png"
    }
</script>
  <meta property="og:title" content="Login">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="index.html">
</head>

<body class="u-body">
  <header class="u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-white u-header" id="sec-8d3a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1" data-image-width="2000" data-image-height="1333">
        <img src="/images/stemma_gilda_f.png" class="u-logo-image u-logo-image-1" data-image-width="64">
      </a>
      <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/" style="padding: 10px 0px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="BlogPost.html" style="padding: 10px 0px;">BlogPost</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/login" style="padding: 10px 0px;">Dashboard</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="BlogPost.html"
                    style="padding: 10px 0px;">BlogPost</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                    style="padding: 10px 0px;">Dashboard</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>

  {{#if recovery_pas_enable}}
    <section class="u-clearfix u-image u-section-1" id="sec-f024" data-image-width="2000" data-image-height="1333">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-group u-radius-30 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-align-center u-text u-text-1">
              <span style="font-weight: 700;">Resetta Password Utente {{recovery_pas_enable}}</span>
            </h1>
            <div class="u-align-center u-form u-form-1">
              <form action="/auth/recovery_pas" method="POST"
                class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                style="padding: 0px;" source="custom" name="form" redirect="true">
                <div class="u-form-group u-form-name">
                  <label for="name-688c" class="u-label">Username</label>
                  <input type="text" placeholder="Inserisci il tuo Username" id="name-688c" name="name_user_recover"
                    class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                    autofocus="autofocus" required="required">
                </div>
                <div class="u-form-group">
                  <label for="email-688c" class="u-label">Password</label>
                  <input type="password" placeholder="Inserisci Password" id="email-688c" name="Password_recover"
                    class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                    required="required">
                </div>
                <div class="u-form-group">
                  <label for="email-688c" class="u-label">Ripetere Password</label>
                  <input type="password" placeholder="Ripetere Password" name="Password_rep_recover"
                    class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                    required="required">
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                  <a
                    class="u-black u-border-2 u-border-black u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-radius-50 u-btn-1">Continua<br>
                  </a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/if}}

  <section class="u-clearfix u-image u-section-1" id="sec-f024" data-image-width="2000" data-image-height="1333">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-container-style u-group u-radius-30 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center u-text u-text-1">
            <span style="font-weight: 700;">Login!</span>
          </h1>
          <div class="u-align-center u-form u-form-1">
            <form action="/auth/login" method="POST"
              class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
              style="padding: 0px;" source="custom" name="form" redirect="true">
              {{#if message_warn}}
                <h4 class="u-align-center u-text u-text-1 alert alert-warning mt-4" style="margin: auto; width: 100%; padding: 10px; height:50px; margin-bottom: 20px;">{{message_warn}}</h4>
              {{/if}}
              {{#if message_error}}
                <h4 class="u-align-center u-text u-text-1 alert alert-danger mt-4" style="margin: auto; width: 100%; padding: 10px; height:50px; margin-bottom: 20px">{{message_error}}</h4>
              {{/if}}
              {{#if message_success}}
                <h4 class="u-align-center u-text u-text-1 alert alert-success mt-4" style="margin: auto; width: 100%; padding: 10px; height:50px; margin-bottom: 20px">{{message_success}}</h4>
              {{/if}}
              <div class="u-form-group u-form-name">
                <label for="name-688c" class="u-label">Username</label>
                <input type="text" placeholder="Inserisci il tuo Username" id="name-688c" name="nome"
                  class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                  autofocus="autofocus" required="required">
              </div>
              <div class="u-form-group">
                <label for="email-688c" class="u-label">Password</label>
                <input type="password" placeholder="Inserisci Password" id="email-688c" name="Password"
                  class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                  required="required">
              </div>
              <div class="u-align-center u-form-group u-form-submit">
                <a
                  class="u-black u-border-2 u-border-black u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-radius-50 u-btn-1">Login<br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
            </form>
          </div>
          <a href="/Register"
            class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">Non
            hai un Profilo? registrati ora<br>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fbf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Copyright 2020-2021 Alexkill536ITA - All Rights Reserved to
        Bjarka Energy®.</p>
    </div>
  </footer>
</body>

</html>