<!DOCTYPE html>
<html lang="it">

<head>
    <title>Tisifea ERROR 404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Tisifea" property="og:title" />
  <meta content="Sito WEB per la creazione Schede PG e Missioni da usare con il BOT **Il Maggiordomo**" property="og:description" />
  <meta content="https://tisifea.duckdns.org/" property="og:url" />
  <meta content="https://tisifea.duckdns.org/images/stemma_gilda_f.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <link rel="icon" type="image/jpg" href="/images/Logo_bot.jpg">
    <title>MeetMe Personal ERROR 404</title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
        .button_ts {
            width: auto;
            display: inline-block;
            background: #FC00FF;
            padding: 0px 50px;
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            font-weight: 500;
            line-height: 50px;
            border-radius: 5px;
            outline: none !important;
            box-shadow: none !important;
            text-align: center;
            border: 1px solid #B500B7;
            cursor: pointer;
            transition: all 300ms linear 0s;
        }

        .button_ts:hover {
            background: #D900DB;
            border: solid #B500B7 1px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <table class="list">
            <tr>
                <th>
                    <h1>Page not Found ERROR 404</h1>
                </th>

            </tr>
            <tr>
                <td>
                    <p>Please go to Home Page</p>
                </td>
                <td>
                    <!--<img src="images/logo_404.png" style="height: 160px">-->
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="600px" height="400px"
                        viewBox="0 0 1033.000000 329.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,329.000000) scale(0.100000,-0.100000)" fill="#000000"
                            stroke="none">
                            <path d="M2180 2945 l-265 -265 140 0 139 0 -69 -70 -69 -70 -71 0 -70 0 -180
                   -180 -180 -180 -186 0 c-173 0 -187 -1 -204 -20 -18 -20 -17 -20 96 -20 l113
                   0 -59 -60 -59 -60 -328 0 c-207 0 -329 -4 -333 -10 -4 -7 102 -10 309 -10 174
                   0 316 -3 316 -8 0 -4 -97 -104 -215 -222 l-215 -215 0 -377 0 -378 940 0 940
                   0 0 -90 0 -90 -70 0 -70 0 0 -85 0 -84 -117 -3 -118 -3 -3 -43 -3 -42 120 0
                   121 0 0 -70 0 -70 70 0 70 0 0 -65 0 -65 380 0 380 0 0 65 0 65 -70 0 -70 0 0
                   70 0 70 -120 0 -120 0 0 45 0 45 120 0 120 0 0 90 0 90 70 0 70 0 0 85 0 85
                   -115 0 -115 0 2 598 3 597 68 3 c89 4 87 22 -3 22 l-70 0 0 60 0 60 -110 0
                   c-103 0 -110 1 -110 20 0 19 7 20 180 20 l180 0 0 180 0 179 73 3 72 3 3 62 3
                   62 -143 3 -143 3 -3 268 -2 267 -378 0 -377 0 -265 -265z m270 -870 l0 -55 71
                   0 c52 0 70 -3 67 -12 -3 -8 -29 -14 -71 -16 l-67 -3 0 -214 0 -215 -292 0
                   -293 0 215 215 215 215 -319 0 c-282 0 -317 2 -306 15 11 13 60 15 334 15
                   l322 0 54 55 c30 30 58 55 62 55 4 0 8 -25 8 -55z m130 -630 c0 -20 -5 -25
                   -25 -25 -20 0 -25 5 -25 25 0 20 5 25 25 25 20 0 25 -5 25 -25z m130 0 c0 -18
                   -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m140 0
                   c0 -20 -5 -25 -25 -25 -20 0 -25 5 -25 25 0 20 5 25 25 25 20 0 25 -5 25 -25z
                   m130 0 c0 -18 -5 -25 -19 -25 -11 0 -23 5 -26 10 -11 18 3 40 25 40 15 0 20
                   -7 20 -25z m-400 -135 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25
                   20 18 0 25 -5 25 -20z m130 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13
                   7 20 20 20 13 0 20 -7 20 -20z m140 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25
                   20 0 15 7 20 25 20 18 0 25 -5 25 -20z m-272 -132 c-2 -15 -10 -23 -23 -23
                   -13 0 -21 8 -23 23 -3 18 1 22 23 22 22 0 26 -4 23 -22z m132 -3 c0 -18 -5
                   -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m-130
                   -130 c0 -20 -5 -25 -25 -25 -18 0 -25 5 -25 18 0 24 8 32 32 32 13 0 18 -7 18
                   -25z" />
                            <path d="M4720 3145 l0 -64 -67 -3 -68 -3 -3 -67 -3 -68 -99 0 -100 0 0 -65 0
                   -64 -67 -3 -68 -3 -3 -67 -3 -68 -64 0 -65 0 0 -65 0 -65 -65 0 -65 0 0 -45
                   c0 -45 0 -45 35 -45 l35 0 0 -50 0 -50 -215 0 c-208 0 -215 -1 -215 -20 0 -19
                   7 -20 180 -20 l180 0 0 -210 0 -210 -55 0 -55 0 0 -165 0 -165 55 0 55 0 0
                   -300 0 -300 70 0 c63 0 70 -2 70 -20 0 -19 -7 -20 -125 -20 l-125 0 0 -60 0
                   -60 35 0 c28 0 35 -4 35 -20 0 -18 7 -20 70 -20 l70 0 0 -65 0 -65 65 0 65 0
                   0 -70 0 -70 65 0 65 0 0 -65 0 -65 105 0 105 0 0 -65 0 -65 65 0 65 0 0 -70 0
                   -70 670 0 670 0 0 70 0 70 70 0 70 0 0 65 0 65 30 0 30 0 0 65 0 65 65 0 65 0
                   0 70 0 70 70 0 70 0 0 65 0 65 65 0 c58 0 65 2 65 20 0 16 -7 20 -35 20 l-35
                   0 0 60 0 60 125 0 c118 0 125 1 125 20 0 18 -7 20 -75 20 l-75 0 0 300 0 300
                   -50 0 -50 0 0 165 0 165 50 0 50 0 0 210 0 210 -175 0 c-168 0 -175 1 -175 20
                   0 19 7 20 215 20 l215 0 0 49 0 50 -37 3 c-37 3 -38 4 -41 46 l-3 42 -65 0
                   -64 0 0 65 0 65 -65 0 -65 0 0 70 0 70 -70 0 -70 0 0 65 0 65 -30 0 -30 0 0
                   70 0 70 -65 0 -65 0 0 65 0 65 -670 0 -670 0 0 -65z m0 -180 c0 -20 -5 -25
                   -25 -25 -20 0 -25 5 -25 25 0 20 5 25 25 25 20 0 25 -5 25 -25z m1380 0 c0
                   -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z
                   m-1590 -135 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0
                   20 -7 20 -20z m140 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25
                   20 18 0 25 -5 25 -20z m1380 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13
                   7 20 20 20 13 0 20 -7 20 -20z m140 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25
                   20 0 15 7 20 25 20 18 0 25 -5 25 -20z m-1792 -132 c-2 -15 -10 -23 -23 -23
                   -13 0 -21 8 -23 23 -3 18 1 22 23 22 22 0 26 -4 23 -22z m132 -3 c0 -18 -5
                   -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m138 3
                   c-2 -15 -11 -24 -25 -26 -19 -3 -23 1 -23 22 0 21 5 26 26 26 21 0 25 -4 22
                   -22z m1382 -3 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0
                   20 -7 20 -25z m138 3 c-2 -15 -11 -24 -25 -26 -19 -3 -23 1 -23 22 0 21 5 26
                   26 26 21 0 25 -4 22 -22z m130 0 c-2 -15 -10 -23 -23 -23 -13 0 -21 8 -23 23
                   -3 18 1 22 23 22 22 0 26 -4 23 -22z m-2058 -133 c0 -18 -5 -25 -20 -25 -15 0
                   -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m140 0 c0 -20 -5 -25 -25
                   -25 -20 0 -25 5 -25 25 0 20 5 25 25 25 20 0 25 -5 25 -25z m130 0 c0 -18 -5
                   -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m138 -2
                   c3 -19 -1 -23 -22 -23 -21 0 -26 5 -26 26 0 21 4 25 23 22 14 -2 23 -11 25
                   -25z m1382 2 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0
                   20 -7 20 -25z m135 0 c0 -13 -8 -21 -22 -23 -19 -3 -23 1 -23 23 0 22 4 26 23
                   23 14 -2 22 -10 22 -23z m135 0 c0 -20 -5 -25 -25 -25 -18 0 -25 5 -25 18 0
                   24 8 32 32 32 13 0 18 -7 18 -25z m130 0 c0 -18 -5 -25 -20 -25 -15 0 -20 7
                   -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m-460 -165 l0 -50 -215 0 c-208 0
                   -215 -1 -215 -20 0 -19 7 -20 180 -20 l180 0 0 -210 0 -210 -55 0 -55 0 0
                   -165 0 -165 55 0 55 0 0 -300 0 -300 70 0 c63 0 70 -2 70 -20 0 -19 -7 -20
                   -125 -20 l-125 0 0 -35 0 -35 -580 0 -580 0 0 35 0 35 125 0 c118 0 125 1 125
                   20 0 18 -7 20 -75 20 l-75 0 0 300 0 300 -50 0 -50 0 0 165 0 165 50 0 50 0 0
                   210 0 210 -175 0 c-168 0 -175 1 -175 20 0 19 8 20 213 22 l212 3 3 48 3 47
                   580 0 579 0 0 -50z m-1760 -1660 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0
                   15 7 20 25 20 18 0 25 -5 25 -20z m130 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7
                   -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m140 0 c0 -15 -7 -20 -25 -20 -18
                   0 -25 5 -25 20 0 15 7 20 25 20 18 0 25 -5 25 -20z m130 0 c0 -15 -7 -20 -25
                   -20 -18 0 -25 5 -25 20 0 15 7 20 25 20 18 0 25 -5 25 -20z m1390 0 c0 -15 -7
                   -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25 20 18 0 25 -5 25 -20z m130 0 c0
                   -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25 20 18 0 25 -5 25 -20z
                   m130 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7
                   20 -20z m140 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25 20 18
                   0 25 -5 25 -20z m-2060 -135 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5
                   25 20 25 15 0 20 -7 20 -25z m138 -2 c3 -19 -1 -23 -22 -23 -21 0 -26 5 -26
                   26 0 21 4 25 23 22 14 -2 23 -11 25 -25z m132 2 c0 -20 -5 -25 -25 -25 -18 0
                   -25 5 -25 18 0 24 8 32 32 32 13 0 18 -7 18 -25z m1388 -2 c3 -19 -1 -23 -22
                   -23 -21 0 -26 5 -26 26 0 21 4 25 23 22 14 -2 23 -11 25 -25z m132 2 c0 -20
                   -5 -25 -25 -25 -18 0 -25 5 -25 18 0 24 8 32 32 32 13 0 18 -7 18 -25z m130 0
                   c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z
                   m-1780 -135 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25 20 18 0
                   25 -5 25 -20z m130 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25
                   20 18 0 25 -5 25 -20z m1390 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15
                   7 20 25 20 18 0 25 -5 25 -20z m130 0 c0 -15 -7 -20 -25 -20 -18 0 -25 5 -25
                   20 0 15 7 20 25 20 18 0 25 -5 25 -20z m-1450 -135 c0 -18 -5 -25 -20 -25 -15
                   0 -20 7 -20 25 0 18 5 25 20 25 15 0 20 -7 20 -25z m1388 3 c-2 -15 -10 -23
                   -23 -23 -13 0 -21 8 -23 23 -3 18 1 22 23 22 22 0 26 -4 23 -22z" />
                            <path d="M8230 2945 l-265 -265 278 0 c152 0 277 -4 277 -8 0 -4 -28 -36 -63
                   -70 l-63 -62 -214 0 -215 0 -90 -90 c-89 -90 -90 -90 -140 -90 -45 0 -55 -4
                   -83 -33 -18 -18 -32 -36 -32 -40 0 -4 84 -7 187 -7 185 0 186 0 168 -20 -17
                   -18 -31 -20 -164 -20 l-147 0 -49 -50 -49 -50 67 0 c37 0 67 -4 67 -8 0 -4
                   -24 -31 -53 -60 l-53 -52 -301 0 c-191 0 -304 -4 -308 -10 -4 -7 93 -10 284
                   -10 160 0 291 -4 291 -8 0 -5 -97 -102 -215 -216 l-215 -208 0 -384 0 -384
                   985 0 c975 0 985 0 985 -20 0 -19 -8 -20 -187 -22 -180 -3 -188 -4 -188 -23 0
                   -19 8 -20 188 -23 l187 -2 0 -45 0 -45 -305 0 -305 0 0 -85 0 -85 115 0 115 0
                   0 -180 0 -180 380 0 380 0 0 180 0 180 -115 0 -116 0 3 88 3 87 303 3 302 2 0
                   40 0 40 -190 0 -190 0 0 25 0 25 190 0 c183 0 190 1 190 20 0 19 -7 20 -160
                   20 l-160 0 0 600 0 600 235 0 c150 0 235 4 235 10 0 6 -85 10 -235 10 l-234 0
                   -3 58 -3 57 -67 3 -68 3 0 49 0 50 140 0 c133 0 140 1 140 20 0 19 -8 20 -192
                   22 l-193 3 0 40 0 40 53 3 52 3 0 85 0 84 210 0 210 0 0 65 0 65 -282 2 -283
                   3 -3 268 -2 267 -378 0 -377 0 -265 -265z m791 -925 c188 0 240 -3 237 -12 -4
                   -10 -63 -14 -241 -16 l-237 -2 0 -215 0 -215 -287 0 -288 0 215 215 215 215
                   -293 0 c-231 0 -293 3 -290 13 4 9 76 13 309 15 l305 2 54 56 55 55 3 -56 3
                   -55 240 0z m-111 -575 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20
                   25 15 0 20 -7 20 -25z m140 0 c0 -20 -5 -25 -25 -25 -20 0 -25 5 -25 25 0 20
                   5 25 25 25 20 0 25 -5 25 -25z m130 0 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20
                   25 0 18 5 25 20 25 15 0 20 -7 20 -25z m135 0 c0 -13 -8 -21 -22 -23 -19 -3
                   -23 1 -23 23 0 22 4 26 23 23 14 -2 22 -10 22 -23z m-405 -135 c0 -13 -7 -20
                   -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m140 0 c0 -15
                   -7 -20 -25 -20 -18 0 -25 5 -25 20 0 15 7 20 25 20 18 0 25 -5 25 -20z m130 0
                   c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z
                   m-270 -135 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0 18 5 25 20 25 15 0 20
                   -7 20 -25z m138 3 c-2 -15 -10 -23 -23 -23 -13 0 -21 8 -23 23 -3 18 1 22 23
                   22 22 0 26 -4 23 -22z m-138 -133 c0 -18 -5 -25 -20 -25 -15 0 -20 7 -20 25 0
                   18 5 25 20 25 15 0 20 -7 20 -25z" />
                            <path d="M4054 2975 c-4 -9 -2 -21 4 -27 15 -15 44 -1 40 19 -4 23 -36 29 -44
                   8z" />
                            <path d="M1590 2700 c0 -15 7 -20 25 -20 18 0 25 5 25 20 0 15 -7 20 -25 20
                   -18 0 -25 -5 -25 -20z" />
                            <path d="M3690 2700 c0 -15 7 -20 25 -20 18 0 25 5 25 20 0 15 -7 20 -25 20
                   -18 0 -25 -5 -25 -20z" />
                            <path d="M1687 2584 c-4 -4 -7 -16 -7 -26 0 -14 6 -19 23 -16 14 2 22 10 22
                   23 0 20 -25 32 -38 19z" />
                            <path d="M6917 2584 c-4 -4 -7 -16 -7 -26 0 -14 6 -19 23 -16 14 2 22 10 22
                   23 0 20 -25 32 -38 19z" />
                            <path d="M7367 2584 c-4 -4 -7 -16 -7 -26 0 -14 6 -19 23 -16 14 2 22 10 22
                   23 0 20 -25 32 -38 19z" />
                            <path d="M3520 1445 c0 -18 5 -25 20 -25 15 0 20 7 20 25 0 18 -5 25 -20 25
                   -15 0 -20 -7 -20 -25z" />
                            <path d="M9760 1445 c0 -18 5 -25 20 -25 15 0 20 7 20 25 0 18 -5 25 -20 25
                   -15 0 -20 -7 -20 -25z" />
                            <path d="M270 1310 c0 -13 7 -20 20 -20 13 0 20 7 20 20 0 13 -7 20 -20 20
                   -13 0 -20 -7 -20 -20z" />
                            <path d="M400 1310 c0 -15 7 -20 25 -20 18 0 25 5 25 20 0 15 -7 20 -25 20
                   -18 0 -25 -5 -25 -20z" />
                            <path d="M10030 1310 c0 -13 7 -20 20 -20 13 0 20 7 20 20 0 13 -7 20 -20 20
                   -13 0 -20 -7 -20 -20z" />
                            <path d="M3380 1180 c0 -15 7 -20 25 -20 18 0 25 5 25 20 0 15 -7 20 -25 20
                   -18 0 -25 -5 -25 -20z" />
                            <path d="M6850 1180 c0 -15 7 -20 25 -20 18 0 25 5 25 20 0 15 -7 20 -25 20
                   -18 0 -25 -5 -25 -20z" />
                            <path d="M540 1045 c0 -18 5 -25 20 -25 15 0 20 7 20 25 0 18 -5 25 -20 25
                   -15 0 -20 -7 -20 -25z" />
                            <path d="M9760 1045 c0 -18 5 -25 20 -25 15 0 20 7 20 25 0 18 -5 25 -20 25
                   -15 0 -20 -7 -20 -25z" />
                            <path d="M1860 660 c0 -13 7 -20 20 -20 13 0 20 7 20 20 0 13 -7 20 -20 20
                   -13 0 -20 -7 -20 -20z" />
                            <path d="M7770 470 c0 -13 7 -20 20 -20 13 0 20 7 20 20 0 13 -7 20 -20 20
                   -13 0 -20 -7 -20 -20z" />
                        </g>
                    </svg>
                </td>
            </tr>
            <tr>
                <td><a href="/"><button class="button_ts">Home Page</button></a></td>
            </tr>
        </table>

    </div>
</body>