<!DOCTYPE html>
<html style="font-size: 16px;" lang="it">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Registrati!">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <meta content="Tisifea" property="og:title" />
  <meta content="Sito WEB per la creazione Schede PG e Missioni da usare con il BOT Il Maggiordomo" property="og:description" />
  <meta content="https://tisifea.duckdns.org/" property="og:url" />
  <meta content="https://tisifea.duckdns.org/images/stemma_gilda_f.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <title>Register</title>
  <link rel="icon" type="image/jpg" href="images/Logo_bot.jpg">
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Register.css" media="screen">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">
    {
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "name": "",
		  "url": "/",
		  "logo": "/images/stemma_gilda_f.png"
    }
  </script>
  <meta property="og:title" content="Register">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="index.hbs">
</head>

<body class="u-body">
  <header class="u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-white u-header" id="sec-8d3a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="2000" data-image-height="1333">
        <img src="/images/stemma_gilda_f.png" class="u-logo-image u-logo-image-1" data-image-width="64">
      </a>
      <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/" style="padding: 10px 0px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="BlogPost.html" style="padding: 10px 0px;">BlogPost</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/login" style="padding: 10px 0px;">Dashboard</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="BlogPost.html"
                    style="padding: 10px 0px;">BlogPost</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                    style="padding: 10px 0px;">Dashboard</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>

  <section class="u-align-center u-clearfix u-image u-section-1" id="sec-d9e9" data-image-width="2000"
    data-image-height="1333">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-container-style u-group u-radius-30 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center u-text u-text-1">Registrati!</h1>
          {{#if message}}
          <h4 class="u-align-center u-text u-text-1 alert alert-danger mt-4"
            style="margin: auto; width: 100%; padding: 10px; height:50px; margin-bottom: 20px">{{message}}</h4>
          {{/if}}
          {{#if message_warn}}
          <h4 class="u-align-center u-text u-text-1 alert alert-warning mt-4"
            style="margin: auto; width: 100%; padding: 10px; height:50px; margin-bottom: 20px;">{{message_warn}}</h4>
          {{/if}}
          <div class="u-align-center u-form u-form-1">
            <form action="/auth/register" method="POST"
              class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
              style="padding: 10px" source="custom" name="form" redirect="true">
              <div class="u-form-group u-form-name">
                <label for="name-0bca" class="u-label">Username</label>
                <input type="text" placeholder="Inserisci il tuo Username" id="name-0bca" name="name_user"
                  class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                  required="" autofocus="autofocus">
              </div>
              <div class="u-form-email u-form-group">
                <label for="email-0bca" class="u-label">ID Utente Disocrd</label>
                <input type="text" placeholder="Inserire ID Discord" id="email-0bca" name="id_user"
                  class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                  required="">
              </div>
              <div class="u-form-group u-form-group-3">
                <label for="text-f19b" class="u-label">Password</label>
                <input type="password" placeholder="Inserire Password" id="text-f19b" name="Password"
                  class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                  required="required">
              </div>
              <div class="u-form-group u-form-group-4">
                <label for="text-127b" class="u-label">Ripeterte Password</label>
                <input type="password" placeholder="Ripeterte Password" id="text-127b" name="Password_rep"
                  class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white"
                  required="required">
              </div>
              <div class="u-align-center u-form-group u-form-submit">
                <a
                  class="u-black u-border-2 u-border-black u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-radius-50 u-btn-1">Registrati</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
            </form>
          </div>
          <a href="/login"
            class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">Hai
            già un Profilo? Logga ora<br>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fbf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Copyright 2020-2021 Alexkill536ITA - All Rights Reserved to
        Bjarka Energy®.</p>
    </div>
  </footer>
</body>

</html>